<div class="container">
  <p>
    <a routerLink="banks">Get intents</a>
  </p>
  <p>
    <a routerLink="banks">Create intent</a>
  </p>
  <p>
    <a routerLink="banks">Update intent</a>
  </p>
  <p>
    <a routerLink="banks">Delete intent</a>
  </p>
</div>
