<nav>
  <span>
    <a routerLink="">Main page</a>
  </span>
  <span>
    <a routerLink="apartments">Apartment offers</a>
  </span>
  <span>
    <a routerLink="banks">Bank offers</a>
  </span>
  <span>
    <a routerLink="insurances">Insurance offers</a>
  </span>
  <span>
    <a routerLink="users">Users</a>
  </span>
  <span>
    <a routerLink="intents">Intents</a>
  </span>
  <span>
    <a routerLink="notifications">Notifications</a>
  </span>
  <span>
    <a routerLink="reports">Reports</a>
  </span>
  <span>
    <a routerLink="login">Login page</a>
  </span>
  <span>
    <a routerLink="logout">Logout</a>
  </span>
</nav>
