span {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em;
}
a:link, a:visited {
  background-color: steelblue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

 a:hover, a:active {
  background-color: lightgray;
}
