<div class="container">
  <p>
    <label>
      Login
      <span>
        <input type="text">
      </span>
    </label>
  </p>
  <p>
    <label>
      Password
      <span>
        <input type="text">
      </span>
    </label>
  </p>
  <p>
    <a routerLink="">Submit</a>
  </p>
  <p>
    <a routerLink="">Cancel</a>
  </p>
</div>

