span {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em;
}
a:link, a:visited {
  background-color: steelblue;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

 a:hover, a:active {
  background-color: lightgray;
}
.container {
  position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
}
input[type=text] {
  border: 2px light gray;
  border-radius: 4px;
}
label {
  background-color: steelblue;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
