<div class="container">
  <p>
    <a routerLink="register">Register</a>
  </p>
  <p>
    <a routerLink="login-google">Login via Google</a>
  </p>
  <p>
    <a routerLink="login-vk">Login via VK</a>
  </p>
  <p>
    <a routerLink="login-form">Login</a>
  </p>
  <p>
    <a routerLink="reset-password">Reset password</a>
  </p>
</div>

